<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Exercise</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input 
              formControlName="name"
              name="exer"
              type="text"
              autocomplete
              autocorrect
              required
              ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Weight</ion-label>
            <ion-input 
              formControlName="weigth"
              name="weigth"
              type="number"
              required
              ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Sets</ion-label>
            <ion-input 
              formControlName="sets"
              name="sets"
              type="number"
              required
              ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Repetitions</ion-label>
            <ion-input
            formControlName="reps"
            name="reps"
            type="number"
            required
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button  
            type="submit"
            color="primary"
            expand="block" 
            (click)="onCreateExercise()"
            [disabled]="!form.valid"
            >Add Exercise</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
