<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-content>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-label>Home</ion-label>
          <ion-icon name="home"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="book">
          <ion-label>Book</ion-label>
          <ion-icon name="book"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="exercise">
          <ion-label>Exercise</ion-label>
          <ion-icon name="add"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="progress">
          <ion-label>Progress</ion-label>
          <ion-icon name="trending-up"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-content>  
</ion-app>
