<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/book"></ion-back-button>
    </ion-buttons>
    <ion-title>Today</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let exercise of loadedExercises">
            <ion-thumbnail slot="start">
              <ion-img [src]="exercise.imageUrl"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>{{exercise.name}}</h2>
              <div style="display: flex; justify-content: space-between;">
                <p>Weight: {{exercise.weight}} kg</p>
                <p>Sets: {{exercise.sets}}</p>
                <p>Reps: {{exercise.reps}}</p>
              </div>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
