
<ion-content>
  <div>
    <img src="https://images.pexels.com/photos/1552252/pexels-photo-1552252.jpeg">
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let exercise of loadedExercises">
            <ion-thumbnail slot="start">
              <ion-img [src]="exercise.imageUrl"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>{{exercise.name}}</h2>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
